<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>Lấy lại mật khẩu</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <script type="text/javascript" src="../script/jquery.js"></script>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="{G:JS}/index.js"></script>
</head>

<body>
    {template:model:top}
    <div class="wrap  mt70">
        <div class="fm">
            <input class="fmbtn" name="tel" minlength="5" maxlength="20" placeholder="Tài khoản">
            <input class="fmbtn" name="email" minlength="5" maxlength="20" placeholder="Email mật">
            
            <p class="pubbtn addpo findpass"><a href="javascript:;">Lấy lại mật khẩu</a></p>
            <p class="des">Sau khi nhấp vào "Khôi phục mật khẩu", mật khẩu sẽ được gửi đến địa chỉ email mà bạn đã chỉ định, vui lòng kiểm tra cả mục "thư rác" nếu không thấy email</p>
            <div class="center2">
                <div>
                    <a href="{G:INDEX}/index.php?mod=customer">
                    <img src="{G:INDEX}/static/img/web/form1.png">
                    <span>Trung tâm CSKH</span>
                    </a>
                </div>
                <div>
                    <a href="{G:INDEX}/download.html">
                    <img src="{G:INDEX}/static/img/web/form2.png">
                    <span>Tải APP</span>
                    </a>
                </div>
                <div>
                    <a href="{tougao}" target="_blank">
                    <img src="{G:INDEX}/static/img/web/form3.png">
                    <span>Đóng góp để kiếm tiền</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p class="botom"></p>
</body>

</html>
