<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>Trung tâm thành viên</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/swiper.css" />
    <script type="text/javascript" src="../script/jquery.js"></script>
    <script type="text/javascript" src="../script/api.js"></script>
    <script type="text/javascript" src="../script/swiper.js"></script>
    <script type="text/javascript" src="{G:JS}/index.js"></script>
    
</head>

<body>
    {template:model:top}
    <div class="wrap users mt70">
        <div class="rel">
            <p class="rel"><a href="{G:INDEX}/index.php?mod=set">{levelavatar}<img class="avatar" src="{avatar}" /></a></p>
            <div class="u abs">
                <p>{username}<span><img class="i1" src="../image/{level}.png" /></span></p>
                <p class="p">{nick}<span><img class="i2" src="../image/{sex}.png" /></span><span ><a class="co" href="{G:INDEX}/index.php?mod=set">Đặt biệt danh<img class="i3" src="../image/u.png" /></a></span></p>
            </div>
        </div>
        <ul class="s overflow">
            <li>
                <div>
                    <img class="p" src="../image/profile_vip_bg.png" />
                    <img class="abs" src="../image/o1.png"  />
                    <p class="p1 abs">Thành viên</p>
                    <p class="p2 abs">{mylevel}</p>
                    <p class="p3 abs"><a href="{G:INDEX}/index.php?mod=vip">Nạp tiền VIP</a></p>
                </div>
            </li>
            <li>
                <div>
                    <img class="p" src="../image/profile_chongzhi_bg.png" />
                    <img class="abs" src="../image/o2.png"  />
                    <p class="p1 abs">Tiền</p>
                    <p class="p2 abs">Số dư:{diam}</p>
                    <p class="p3 abs"><a href="{G:INDEX}/index.php?mod=money">số tiền nạp</a></p>
                </div>
            </li>
            <li>
                <div>
                    <img class="p" src="../image/profile_packet_bg.png" />
                    <img class="abs" src="../image/o3.png"  />
                    <p class="p1 abs">Ví tiền</p>
                    <p class="p2 abs">Số dư:{money}đồng</p>
                    <p class="p3 abs"><a href="{G:INDEX}/index.php?mod=wallet">Mở ví tiền</a></p>
                </div>
            </li>
        </ul>
       
        <ul class="overflow tool">
           
            <li><a href="{G:INDEX}/index.php?mod=set">
                <img src="../image/k2.png" />
                <p>Cài đặt tài khoản</p></a>
            </li>
            <li><a href="{G:INDEX}/index.php?mod=wallet">
                <img src="../image/k3.png" />
                <p>Ví tiền của tôi</p></a>
            </li>
            <li><a href="{G:INDEX}/index.php?mod=vip">
                <img src="../image/k4.png" />
                <p>Nạp tiền VIP</p></a>
            </li>
            <li><a href="{G:INDEX}/index.php?mod=money">
                <img src="../image/k5.png" />
                <p>Nạp tiền</p></a>
            </li>
            <!--<li><a href="{G:INDEX}/index.php?mod=card">-->
            <!--    <img src="../image/k6.png" />-->
            <!--    <p>Đổi mật khẩu thẻ</p></a>-->
            <!--</li>-->
            <li><a href="{G:INDEX}/index.php?mod=concern">
                <img src="../image/k7.png" />
                <p>Theo dõi của tôi</p></a>
            </li>
            <li><a href="{G:INDEX}/index.php?mod=albuy">
                <img src="../image/k8.png" />
                <p>Video đã mua</p></a>
            </li>
            <li>
                
                <a href="{G:INDEX}/index.php?mod=customer">
                <img src="../image/k9.png" />
                <p>Trung tâm CSKH</p></a>
            </li>
            <li class="rel">
                {useraddnum}
                <a href="{G:INDEX}/index.php?mod=message">
                <img src="../image/k10.png" />
                <p>Trung tâm thông báo</p></a>
            </li>
            <li class="qiandao">
                <img src="../image/k11.png" />
                <p>Thưởng điểm danh</p>
            </li>
            <li><a href="{G:INDEX}/index.php?mod=shares">
                <img src="../image/k12.png" />
                <p>Kiếm tiền quảng cáo</p></a>
            </li>
            <li><a href="{G:INDEX}/index.php?mod=activity">
                <img src="../image/k13.png" />
                <p>Hoạt động chính thức</p></a>
            </li>
            <!--<li><a href="{G:INDEX}/index.php?mod=app">-->
            <!--    <img src="../image/k14.png" />-->
            <!--    <p>推荐APP</p></a>-->
            <!--</li>-->
            <!--<li class="mbtn2 logout">-->
            <!--    <img src="../image/k15.png" />-->
            <!--    <p>退出账号</p>-->
            <!--</li>-->
        </ul>
       
        <div class="pubtit">
            <p class="selected" rel="u1"><span></span>Yêu thích của tôi</p>
            <p rel="u2"><span></span><a href="{G:INDEX}/index.php?mod=look">Lịch sử xem</a></p>
           
        </div>
        <div class="public mt15  ">
            <ul class="overflow">
                 {likes}
            </ul>
            {page}
        </div>
        <p class="line"></p>
    </div>
    <p class="botom"></p>
    {template:model:footer}
    <script>
        var swiper = new Swiper(".indexadv", {
            observer:true,
             observeParents:true,
             slidesPerView: 'auto',
             freeMode : true,
             freeModeFluid : true,
             spaceBetween: 10,
         });
    </script>
</body>

</html>
