<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>{G:TITLE}</title>
    <link rel="stylesheet" href="{G:CSS}/backstage.css" />
    <link rel="stylesheet" href="{G:CSS}/font-awesome.min.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/backstage.js"></script>
</head>
<body>
    {template:model:admin:header}
    {template:model:admin:aside}
    <div class="wrap">
        <div class="w100">
            {template:model:admin:tag}
            <div class="content">
        		<div class="frame">
                    <p class="title">Cài đặt thông báo</p>
                    <div class="notice">
		                <div class="note-info">
		                    <p class="p1 btn3">Nhắc nhở</p>
		                    <p class="pub">1. 6h00-18h00 cùng ngày để thông báo ban ngày</p>
		                    <p class="pub">2. 18:00 đến 6:00 ngày hôm sau để thông báo ban đêm</p>

		               </div>
		            </div>
                    <div class="frmtable_content">
                		<table class="w100">
                			<tbody>
                			<tr>
                				<td>Thông báo ban ngày</td>
                				<td><input name="ment1" value="{ment1}" placeholder="Hiển thị từ 6h đến 18h cùng ngày"></td>
                			</tr>    
            			    <tr>
                				<td>Thông báo ban đêm</td>
                				<td><input name="ment2" value="{ment2}" placeholder="Hiển thị từ 18h đến 6h hôm sau"></td>
                			</tr>
                			
                			<tr>
                				<td></td>
                				<td><a href="javascript:;" class="btn submit" rel="updatement"><i class="fa fa-edit"></i>Cập nhật</a></td>
                			</tr>
                		</tbody></table>
                	</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>