
<!DOCTYPE html>
<html lang="zh-cn" class='h100'>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{G:TITLE}</title>
    <link rel="shortcut icon" href="{G:IMG}/favicon.ico" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/cw.js"></script>
    <script src="{G:JS}/jquery.fullPage.js"></script>
    <script src="{G:JS}/index.js"></script>
</head>
<body>
    {template:model:loading}
    {template:model:aside}
    <div class="notfind w100 h100 rel">
        <section class='fl w50 h100 rel'>
            <p class='p1 abs'>4</p>
            <p class='p2 abs'>0</p>
        </section>
        <section class='fr w50 h100 rel'>
            <p class='p1 abs'>4</p>
            <p class='p2 abs'>0</p>
        </section>
        <p class='abs r'><a class='block shadow' title='{G:NAME}' href='{G:INDEX}'>Trở về trang chủ</a></p>
    </div>
</body>
</html>