<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>{G:TITLE}</title>
    <link rel="stylesheet" href="{G:CSS}/backstage.css" />
    <link rel="stylesheet" href="{G:CSS}/font-awesome.min.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/backstage.js"></script>
</head>
<body>
    {template:model:admin:header}
    {template:model:admin:aside}
    <div class="wrap">
        <div class="w100">
            {template:model:admin:tag}
            <div class="content">
                <div class="frame">
                    
                	<p class="title">Cài đặt thanh toán</p>
                	<div class="frmtable_content">
                		<table class="w100">
                		    
                			<tr>
                				<td>Momo</td>
                				<td class="rel">
                					<input readonly="true" value="{pay1}" class="pub_select" name="pay1" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					    <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>Zalo</td>
                				<td class="rel">
                					<input readonly="true" value="{pay2}" class="pub_select" name="pay2" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay3}" class="pub_select" name="pay3" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay4}" class="pub_select" name="pay4" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay5}" class="pub_select" name="pay5" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay6}" class="pub_select" name="pay6" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr><tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay7}" class="pub_select" name="pay7" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr><tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay8}" class="pub_select" name="pay8" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					    <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay9}" class="pub_select" name="pay9" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					    <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay10}" class="pub_select" name="pay10" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay11}" class="pub_select" name="pay11" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay12}" class="pub_select" name="pay12" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay13}" class="pub_select" name="pay13" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay14}" class="pub_select" name="pay14" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>ZALO</td>
                				<td class="rel">
                					<input readonly="true" value="{pay15}" class="pub_select" name="pay15" placeholder="点击选择状态" />
                					<ul class="abs hide">
                					     <li>Hiển thị</li>
                					    <li>Ẩn đi</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td></td>
                				<td><a href="javascript:;" class="btn submit" rel="updatepay"><i class="fa fa fa-edit"></i>更新</a></td>
                			</tr>
                		</table>
                	</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>