<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>{G:TITLE}</title>
    <link rel="stylesheet" href="{G:CSS}/backstage.css" />
    <link rel="stylesheet" href="{G:CSS}/font-awesome.min.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/backstage.js"></script>
    <script>
        $(function(){
            $("select[name=star1]").find("option[value='{star1}']").attr("selected",true);
            $("select[name=star2]").find("option[value='{star2}']").attr("selected",true);
            $("select[name=star3]").find("option[value='{star3}']").attr("selected",true);
        });
    </script>
</head>
<body>
    {template:model:admin:header}
    {template:model:admin:aside}
    <div class="wrap">
        <div class="w100">
            {template:model:admin:tag}
            <div class="content">
                <div class="frame">
                	<p class="title">Thêm vào tiết kiệm nhất</p>
                	<div class="frmtable_content">
                		<table class="w100">
                			<tr>
                				<td>Tiêu đề lớn</td>
                				<td><p><input name="btit" value="{btit}" placeholder="Không vượt quá 30 ký tự" /></p></td>
                			</tr>
                            <tr>
                				<td>Mô tả</td>
                				<td><p><input name="descs" value="{descs}" placeholder="Không vượt quá 180 ký tự" /></p></td>
                			</tr>
                			<tr>
                				<td>Đóng gói ảnh bìa video</td>
                				<td class="upload">
                				    <form class="test" method="post" enctype="multipart/form-data">
                                		<p>
                                			<a class="rel btn btn3" href="javascript:;"><i class="fa fa-file-photo-o"></i><input name="file" type="file">Lựa chọn</a>
                                		</p><input placeholder="Vui lòng lựa chọn hình ảnh" class="css" mode="upload" name="cover" value="{cover}">
                                		<a class="btn btn1 upload" href="javascript:;"><i class="fa fa-cloud-upload"></i>Tải lên</a>
                            		</form>
                				</td>
                			</tr>
                			<tr>
                				<td>Giá kim cương</td>
                				<td><input name="diamond" value="{diamond}" placeholder="Đơn vị : kim cương" /></td>
                			</tr>
                			<tr>
                				<td>Thẻ</td>
                				<td><input name="stit" value="{stit}" placeholder="Tối đa 7 chữ" /></td>
                			</tr>
                		    <tr>
                				<td>Độ phổ biến</td>
                				<td><input name="hot" value="{hot}" placeholder="Đơn vị : kim cương" /></td>
                			</tr>
                			<tr>
                				<td>Danh sách ID video</td>
                				<td><input name="vidlist" value="{vidlist}" placeholder="ID,ID,ID,ID" /></td>
                			</tr>
                			<tr>
                				<td>Chỉ số gợi ý</td>
                				<td class="search">
                				    <select name="star1">
                                        <option value="4">4 sao</option>
                                        <option value="4.5">4.5 sao</option>
                                        <option value="5" selected="">5 sao</option>
                                    </select>
                				</td>
                			</tr>
                			<tr>
                				<td>Chỉ số thu mua</td>
                				<td class="search">
                				    <select name="star2">
                                        <option value="4">4sao</option>
                                        <option value="4.5">4.5sao</option>
                                        <option value="5" selected="">5sao</option>
                                    </select>
                				</td>
                			</tr>
                			<tr>
                				<td>Chỉ số xem</td>
                				<td class="search">
                				    <select name="star3">
                                        <option value="4">4sao</option>
                                        <option value="4.5">4.5sao</option>
                                        <option value="5" selected="">5sao</option>
                                    </select>
                				</td>
                			</tr>
                			<input type="hidden" name="id" value="{CW('get/id')}" />
                			<tr>
                				<td></td>
                				<td>{button}</td>
                			</tr>
                		</table>
                	</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>