<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>SEO</title>
    <link rel="stylesheet" href="{G:CSS}/backstage.css" />
    <link rel="stylesheet" href="{G:CSS}/font-awesome.min.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/backstage.js"></script>
    <style>
        .frmtable_content td.r input{
            margin-bottom:5px;width:10%
        }
    </style>
</head>
<body>
    {template:model:admin:header}
    {template:model:admin:aside}
    <div class="wrap">
        <div class="w100">
            {template:model:admin:tag}
            <div class="content">
        		<div class="frame">
                    <p class="title">SEO设置</p>
                    <div class="frmtable_content">
                		<table class="w100">
                			<tbody>
                			<tr>
                				<td>Trang chủ</td>
                				<td><input value="{seo1}" name="seo1" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Đề xuất</td>
                				<td><input value="{seo2}" name="seo2" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Chủ đề</td>
                				<td><input value="{seo3}" name="seo3" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Danh sách tất cả các chủ đề</td>
                				<td><input value="{seo4}" name="seo4" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Trang danh sách Vlogger</td>
                				<td><input value="{seo5}" name="seo5" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Chủ đề</td>
                				<td><input value="{seo6}" name="seo6" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Cộng đồng</td>
                				<td><input value="{seo7}" name="seo7" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Bảng xếp hạng</td>
                				<td><input value="{seo8}" name="seo8" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Tải APP</td>
                				<td><input value="{seo9}" name="seo9" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Trang nội dung video</td>
                				<td><input value="{seo10}" name="seo10" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Trang nội dung cộng đồng</td>
                				<td><input value="{seo11}" name="seo11" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Trang đơn</td>
                				<td><input value="{seo12}" name="seo12" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Chọn Vlogger</td>
                				<td><input value="{seo13}" name="seo13" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Lưu trữ chủ đề</td>
                				<td><input value="{seo14}" name="seo14" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Chọn cách chơi</td>
                				<td><input value="{seo15}" name="seo15" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Trung tâm thành viên</td>
                				<td><input value="{seo16}" name="seo16" placeholder=""></td>
                			</tr>
                			<tr>
                				<td>Cài đặt tài khoản</td>
                				<td><input value="{seo17}" name="seo17" placeholder=""></td>
                			</tr>
                			<tr>
                				<td></td>
                				<td><a href="javascript:;" class="btn submit" rel="seo"><i class="fa fa-edit"></i>Lưu</a></td>
                			</tr>
                		</tbody></table>
                	</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>