<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>{G:TITLE}</title>
    <link rel="stylesheet" href="{G:CSS}/backstage.css" />
    <link rel="stylesheet" href="{G:CSS}/font-awesome.min.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/backstage.js"></script>
    <script type="text/javascript">
        var inputs =  document.getElementsByTagName("input");
        function converSelectAll(){
            for(var i = 0;i<inputs.length;i++){
                if(inputs[i].checked){
                    inputs[i].checked = false;
                }else{
                    inputs[i].checked = true;
                }
            }
        }
        $(function(){
            $("select[name=ishow]").find("option[value='{CW('get/ishow')}']").attr("selected",true);
            $("select[name=topic]").find("option[value='{CW('get/topic')}']").attr("selected",true);
        });
    </script>
</head>
<body>
    {template:model:admin:header}
    {template:model:admin:aside}
    <div class="wrap">
        <div class="w100">
            {template:model:admin:tag}
            <div class="content">
                <div class="frame">
                    <p class="title">Điều kiện tìm kiếm</p>
                    <div class="frmtable">
                        <form action="admin.php" method="get" class="search">
                            <input type="hidden" name="mod" value="shortvideomanager" />
                            <input name="keyword" value="{CW('get/keyword')==='0' ? '' : CW('get/keyword')}" placeholder="搜索标题,支持模糊检索" />
                            <select name="ishow">
                                <option value="Tất cả">Tất cả</option>
                                <option value="Công khai">Công khai</option>
                                <option value="Không thể xem">Không thể xem</option>
                            </select>
                            <button type="submit" class="btn btn1"><i class="fa fa-search"></i>Tìm kiếm</button>
                        </form>
                    </div>
                    
                </div>
                <div class="frame">
                    <p class="title">Quản lý video ngắn</p>
                    <div class="frmtable">
                    <table class="w100 list">
                        <tr>
                            <th><span style="color:#3FCF7F;cursor: pointer;" onclick="converSelectAll()">Chọn tất cả</span>/<span class='newishow' rel='post' style="color:red;cursor: pointer;">Xét duyệt</span></th>
                            <th>ID video ngắn</th>
                            <!--<th>Loại hình</th>-->
                            <th>Ảnh bìa/th>
                            <th>Tiêu đề</th>
                            <th>Số lượt thích</th>
                            <th>Thời gian đăng</th>
                            <th>Thao tác/th>
                        </tr>
                        {data}
                    </table>
                    </div>
                    <div class="fr pat30">
                        {page}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>