<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>Chủ đề</title>
    <link rel="stylesheet" href="{G:CSS}/style.css" />
    <link rel="stylesheet" href="{G:CSS}/swiper-bundle.min.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/swiper-bundle.min.js"></script>
    <script src="{G:JS}/index.js"></script>
</head>

<body>
    {template:model:header}
    <div class="wrap">
        <p class="topicname">Chủ đề hiện tại: {name}</p>
        <section class="public">
            <ul class="useradd overflow width1">
                {data}
            </ul>
            {page}
            <div class="clear"></div>
        </section>
        <p class="line"></p>
    </div>
    {template:model:footer}

    <script>
        var swiper = new Swiper('.swiper-container', {
          pagination: {
            el: '.swiper-pagination',
          },
          direction:'horizontal',
          loop: true,
          autoplay:true,
          speed:1000,
        });
        
    </script>
</body>

</html>
